@use "../../../assets/repeated-classes/_repeated-classes.scss";

:host {
  flex: 1;
}

.content {
  //@extend .block-fill-container;
  display: flex;
  flex-direction: column;
}

.block-ag-grid-wrapper {
  flex: 1;
}

ag-grid-angular .ag-row {
  &:hover {
    cursor: pointer;
  }
}
