.block-body {
  width: 100%;
  height: 100%;
  margin: 0;
}
mat-drawer-container {
  height: 100%;
}
.app-sidenav {
  width: var(--app-sidenav-width);
  border-top-right-radius: var(--app-sidenav-menu-border-top-right-radius);
  border-bottom-right-radius: var(--app-sidenav-menu-border-top-right-radius);
}
.block-content {
  height: 100%;
}
